In [407]:
import pandas as pd

In [408]:
df1 = pd.read_csv('veg_price_2022.csv')
df1.head()

,Date,commodity,unit,minimum,maximum,average_price
0,2022-01-01,рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА),рдХреЗ.рдЬреА.,рд░реВ резрезреж.режреж,рд░реВ резреиреж.режреж,рд░реВ резрезрел.режреж
1,2022-01-01,рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рднрд╛рд░рддреАрдп),рдХреЗрдЬреА,рд░реВ резрежрез.режреж,рд░реВ резрежрез.режреж,рд░реВ резрежрез.режреж
2,2022-01-01,рдЧреЛрд▓рднреЗрдбрд╛ рд╕рд╛рдиреЛ(рд▓реЛрдХрд▓),рдХреЗ.рдЬреА.,рд░реВ рекреж.режреж,рд░реВ релреж.режреж,рд░реВ рекрел.режреж
3,2022-01-01,рдЧреЛрд▓рднреЗрдбрд╛ рд╕рд╛рдиреЛ(рдЯрдиреЗрд▓),рдХреЗ рдЬреА,рд░реВ релреж.режреж,рд░реВ ремреж.режреж,рд░реВ релрел.режреж
4,2022-01-01,рдЧреЛрд▓рднреЗрдбрд╛ рд╕рд╛рдиреЛ(рднрд╛рд░рддреАрдп),рдХреЗ рдЬреА,рд░реВ релрел.режреж,рд░реВ ремрел.режреж,рд░реВ ремреж.режреж

In [409]:
df1.tail()

,Date,commodity,unit,minimum,maximum,average_price
35083,2022-12-31,рддрд╛рдЬрд╛ рдорд╛рдЫрд╛(рд░рд╣реБ),рдХреЗ рдЬреА,рд░реВ рейреиреж.режреж,рд░реВ рейрекреж.режреж,рд░реВ рейрейреж.режреж
35084,2022-12-31,рддрд╛рдЬрд╛ рдорд╛рдЫрд╛(рдмрдЪреБрд╡рд╛),рдХреЗ рдЬреА,рд░реВ реирекреж.режреж,рд░реВ реирелреж.режреж,рд░реВ реирекрел.режреж
35085,2022-12-31,рддрд╛рдЬрд╛ рдорд╛рдЫрд╛(рдЫрдбреА),рдХреЗ рдЬреА,рд░реВ реирелреж.режреж,рд░реВ реиремреж.режреж,рд░реВ реирелрел.режреж
35086,2022-12-31,рддрд╛рдЬрд╛ рдорд╛рдЫрд╛(рдореБрдВрдЧрд░реА),рдХреЗ рдЬреА,рд░реВ реиремреж.режреж,рд░реВ реиреореж.режреж,рд░реВ реиренреж.режреж
35087,2022-12-31,рд░реБрдЦ рдЯрдорд╛рдЯрд░,рдХреЗрдЬреА,рд░реВ ренреж.режреж,рд░реВ реореж.режреж,рд░реВ ренрел.режреж

In [410]:
df1.isnull().sum()

Date             0
commodity        0
unit             4
minimum          4
maximum          4
average_price    4
dtype: int64

In [411]:
df2 = pd.read_csv('veg_price_list.csv')
df2.head()

         Date              рдХреГрд╖рд┐ рдЙрдкрдЬ    рдИрдХрд╛рдЗ   рдиреНрдпреВрдирддрдо    рдЕрдзрд┐рдХрддрдо       рдФрд╕рдд
0  01/01/2023  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.  рд░реВ рекреж.режреж  рд░реВ релреж.режреж  рд░реВ рекрел.режреж
1  01/01/2023  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рднрд╛рд░рддреАрдп)    рдХреЗрдЬреА  рд░реВ рекреж.режреж  рд░реВ релреж.режреж  рд░реВ рекрел.режреж
2  01/01/2023    рдЧреЛрд▓рднреЗрдбрд╛ рд╕рд╛рдиреЛ(рд▓реЛрдХрд▓)  рдХреЗ.рдЬреА.  рд░реВ реиреж.режреж  рд░реВ рейреж.режреж  рд░реВ реирел.режреж
3  01/01/2023    рдЧреЛрд▓рднреЗрдбрд╛ рд╕рд╛рдиреЛ(рдЯрдиреЗрд▓)   рдХреЗ рдЬреА  рд░реВ рейреж.режреж  рд░реВ рекреж.режреж  рд░реВ рейрел.режреж
4  01/01/2023  рдЧреЛрд▓рднреЗрдбрд╛ рд╕рд╛рдиреЛ(рднрд╛рд░рддреАрдп)   рдХреЗ рдЬреА  рд░реВ рекреж.режреж  рд░реВ релреж.режреж  рд░реВ рекрел.режреж

In [412]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102197 entries, 0 to 102196
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Date      102197 non-null  object
 1   рдХреГрд╖рд┐ рдЙрдкрдЬ  102197 non-null  object
 2   рдИрдХрд╛рдЗ      102192 non-null  object
 3   рдиреНрдпреВрдирддрдо   102192 non-null  object
 4   рдЕрдзрд┐рдХрддрдо    102192 non-null  object
 5   рдФрд╕рдд       102192 non-null  object
dtypes: object(6)
memory usage: 4.7+ MB

In [413]:
df2.isnull().sum()

Date        0
рдХреГрд╖рд┐ рдЙрдкрдЬ    0
рдИрдХрд╛рдЗ        5
рдиреНрдпреВрдирддрдо     5
рдЕрдзрд┐рдХрддрдо      5
рдФрд╕рдд         5
dtype: int64

In [414]:
# Rename Nepali columns to English
df2 = df2.rename(columns={
    'рдХреГрд╖рд┐ рдЙрдкрдЬ': 'commodity',
    'рдИрдХрд╛рдЗ': 'unit',
    'рдиреНрдпреВрдирддрдо': 'minimum',
    'рдЕрдзрд┐рдХрддрдо': 'maximum',
    'рдФрд╕рдд': 'average_price'
})

# Optional: reorder columns to ensure correct order
df2 = df2[['Date', 'commodity', 'unit', 'minimum', 'maximum', 'average_price']]

# Verify
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102197 entries, 0 to 102196
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           102197 non-null  object
 1   commodity      102197 non-null  object
 2   unit           102192 non-null  object
 3   minimum        102192 non-null  object
 4   maximum        102192 non-null  object
 5   average_price  102192 non-null  object
dtypes: object(6)
memory usage: 4.7+ MB

         Date             commodity    unit   minimum   maximum average_price
0  01/01/2023  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.  рд░реВ рекреж.режреж  рд░реВ релреж.режреж      рд░реВ рекрел.режреж
1  01/01/2023  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рднрд╛рд░рддреАрдп)    рдХреЗрдЬреА  рд░реВ рекреж.режреж  рд░реВ релреж.режреж      рд░реВ рекрел.режреж
2  01/01/2023    рдЧреЛрд▓рднреЗрдбрд╛ рд╕рд╛рдиреЛ(рд▓реЛрдХрд▓)  рдХреЗ.рдЬреА.  рд░реВ реиреж.режреж  рд░реВ рейреж.режреж      рд░реВ реирел.режреж
3  01/01/2023    рдЧреЛрд▓рднреЗрдбрд╛ рд╕рд╛рдиреЛ(рдЯрдиреЗрд▓)   рдХреЗ рдЬреА  рд░реВ рейреж.режреж  рд░реВ рекреж.режреж      рд░реВ рейрел.режреж
4  01/01/2023  рдЧреЛрд▓рднреЗрдбрд╛ рд╕рд╛рдиреЛ(рднрд╛рд░рддреАрдп)   рдХреЗ рдЬреА  рд░реВ рекреж.режреж  рд░реВ релреж.режреж      рд░реВ рекрел.режреж

In [415]:
df2['Date'] = pd.to_datetime(df2['Date'], format='%m/%d/%Y', errors='coerce')

In [416]:
df2.head()

        Date             commodity    unit   minimum   maximum average_price
0 2023-01-01  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.  рд░реВ рекреж.режреж  рд░реВ релреж.режреж      рд░реВ рекрел.режреж
1 2023-01-01  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рднрд╛рд░рддреАрдп)    рдХреЗрдЬреА  рд░реВ рекреж.режреж  рд░реВ релреж.режреж      рд░реВ рекрел.режреж
2 2023-01-01    рдЧреЛрд▓рднреЗрдбрд╛ рд╕рд╛рдиреЛ(рд▓реЛрдХрд▓)  рдХреЗ.рдЬреА.  рд░реВ реиреж.режреж  рд░реВ рейреж.режреж      рд░реВ реирел.режреж
3 2023-01-01    рдЧреЛрд▓рднреЗрдбрд╛ рд╕рд╛рдиреЛ(рдЯрдиреЗрд▓)   рдХреЗ рдЬреА  рд░реВ рейреж.режреж  рд░реВ рекреж.режреж      рд░реВ рейрел.режреж
4 2023-01-01  рдЧреЛрд▓рднреЗрдбрд╛ рд╕рд╛рдиреЛ(рднрд╛рд░рддреАрдп)   рдХреЗ рдЬреА  рд░реВ рекреж.режреж  рд░реВ релреж.режреж      рд░реВ рекрел.режреж

In [417]:
df = pd.concat([df1,df2],axis = 0)

In [418]:
df.head()

,Date,commodity,unit,minimum,maximum,average_price
0,2022-01-01,рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА),рдХреЗ.рдЬреА.,рд░реВ резрезреж.режреж,рд░реВ резреиреж.режреж,рд░реВ резрезрел.режреж
1,2022-01-01,рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рднрд╛рд░рддреАрдп),рдХреЗрдЬреА,рд░реВ резрежрез.режреж,рд░реВ резрежрез.режреж,рд░реВ резрежрез.режреж
2,2022-01-01,рдЧреЛрд▓рднреЗрдбрд╛ рд╕рд╛рдиреЛ(рд▓реЛрдХрд▓),рдХреЗ.рдЬреА.,рд░реВ рекреж.режреж,рд░реВ релреж.режреж,рд░реВ рекрел.режреж
3,2022-01-01,рдЧреЛрд▓рднреЗрдбрд╛ рд╕рд╛рдиреЛ(рдЯрдиреЗрд▓),рдХреЗ рдЬреА,рд░реВ релреж.режреж,рд░реВ ремреж.режреж,рд░реВ релрел.режреж
4,2022-01-01,рдЧреЛрд▓рднреЗрдбрд╛ рд╕рд╛рдиреЛ(рднрд╛рд░рддреАрдп),рдХреЗ рдЬреА,рд░реВ релрел.режреж,рд░реВ ремрел.режреж,рд░реВ ремреж.режреж

In [419]:
df.tail()

,Date,commodity,unit,minimum,maximum,average_price
102192,2025-10-20 00:00:00,рддрд╛рдЬрд╛ рдорд╛рдЫрд╛(рдмрдЪреБрд╡рд╛),рдХреЗ рдЬреА,рд░реВ реиремреж.режреж,рд░реВ реиреореж.режреж,рд░реВ реиренреж.режреж
102193,2025-10-20 00:00:00,рддрд╛рдЬрд╛ рдорд╛рдЫрд╛(рдЫрдбреА),рдХреЗ рдЬреА,рд░реВ реиреиреж.режреж,рд░реВ реирекреж.режреж,рд░реВ реирейреж.режреж
102194,2025-10-20 00:00:00,рд░реБрдЦ рдЯрдорд╛рдЯрд░,рдХреЗрдЬреА,рд░реВ резрейреж.режреж,рд░реВ резрекреж.режреж,рд░реВ резрейрел.режреж
102195,2025-10-20 00:00:00,рд░рд╛рдЬрд╛ рдЪреНрдпрд╛рдЙ,рдХреЗ.рдЬреА.,рд░реВ реиреореж.режреж,рд░реВ рейрежреж.режреж,рд░реВ реирепреж.режреж
102196,2025-10-20 00:00:00,рд╕рд┐рддрд╛рдХреЗ рдЪреНрдпрд╛рдЙ,рдХреЗ.рдЬреА.,рд░реВ репрежреж.режреж,"рд░реВ рез,режрежреж.режреж",рд░реВ репрелреж.режреж

In [420]:
df.isnull().sum()

Date             0
commodity        0
unit             9
minimum          9
maximum          9
average_price    9
dtype: int64

In [421]:
tomato = df[df['commodity']=='рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)']

In [422]:
tomato.head()

,Date,commodity,unit,minimum,maximum,average_price
0,2022-01-01,рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА),рдХреЗ.рдЬреА.,рд░реВ резрезреж.режреж,рд░реВ резреиреж.режреж,рд░реВ резрезрел.режреж
109,2022-01-02,рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА),рдХреЗ.рдЬреА.,рд░реВ резрезреж.режреж,рд░реВ резреиреж.режреж,рд░реВ резрезрел.режреж
216,2022-01-03,рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА),рдХреЗ.рдЬреА.,рд░реВ репреж.режреж,рд░реВ резрежреж.режреж,рд░реВ репрел.режреж
323,2022-01-04,рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА),рдХреЗ.рдЬреА.,рд░реВ репреж.режреж,рд░реВ резрежреж.режреж,рд░реВ репрем.ремрен
430,2022-01-05,рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА),рдХреЗ.рдЬреА.,рд░реВ реореж.режреж,рд░реВ репреж.режреж,рд░реВ реорем.ремрен

In [423]:
# ЁЯзй 1я╕ПтГг Extract numeric parts from Nepali prices (removing рд░реВ and spaces)
tomato['minimum'] = tomato['minimum'].str.extract(r'(\d+\.?\d*)')
tomato['maximum'] = tomato['maximum'].str.extract(r'(\d+\.?\d*)')
tomato['average_price'] = tomato['average_price'].str.extract(r'(\d+\.?\d*)')

# ЁЯзй 2я╕ПтГг Convert Nepali digits тЖТ English digits
nepali_to_english = str.maketrans('резреирейрекрелремренреорепреж', '1234567890')

tomato[['minimum', 'maximum', 'average_price']] = (
    tomato[['minimum', 'maximum', 'average_price']]
    .apply(lambda col: col.astype(str).map(lambda x: x.translate(nepali_to_english)))
)

# ЁЯзй 3я╕ПтГг Convert to numeric type (floats)
tomato[['minimum', 'maximum', 'average_price']] = tomato[['minimum', 'maximum', 'average_price']].apply(pd.to_numeric, errors='coerce')

# ЁЯзй 4я╕ПтГг (Optional) Verify result
print(tomato.head())
print(tomato.dtypes)

           Date             commodity    unit  minimum  maximum  average_price
0    2022-01-01  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.    110.0    120.0         115.00
109  2022-01-02  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.    110.0    120.0         115.00
216  2022-01-03  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.     90.0    100.0          95.00
323  2022-01-04  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.     90.0    100.0          96.67
430  2022-01-05  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.     80.0     90.0          86.67
Date              object
commodity         object
unit              object
minimum          float64
maximum          float64
average_price    float64
dtype: object

C:\Users\User\AppData\Local\Temp\ipykernel_19988\2346064966.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tomato['minimum'] = tomato['minimum'].str.extract(r'(\d+\.?\d*)')
C:\Users\User\AppData\Local\Temp\ipykernel_19988\2346064966.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tomato['maximum'] = tomato['maximum'].str.extract(r'(\d+\.?\d*)')
C:\Users\User\AppData\Local\Temp\ipykernel_19988\2346064966.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tomato['average_price'] = tomato['average_price'].str.extract(r'(\d+\.?\d*)')
C:\Users\User\AppData\Local\Temp\ipykernel_19988\2346064966.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tomato[['minimum', 'maximum', 'average_price']] = (
C:\Users\User\AppData\Local\Temp\ipykernel_19988\2346064966.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tomato[['minimum', 'maximum', 'average_price']] = tomato[['minimum', 'maximum', 'average_price']].apply(pd.to_numeric, errors='coerce')

In [424]:
tomato.head()

           Date             commodity    unit  minimum  maximum  average_price
0    2022-01-01  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.    110.0    120.0         115.00
109  2022-01-02  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.    110.0    120.0         115.00
216  2022-01-03  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.     90.0    100.0          95.00
323  2022-01-04  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.     90.0    100.0          96.67
430  2022-01-05  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.     80.0     90.0          86.67

In [425]:

# Mapping Nepali to English digits
nep_to_eng = str.maketrans('режрезреирейрекрелремренреореп', '0123456789')

# Apply translation to all string columns
# df1 = df1.applymap(lambda x: x.translate(nep_to_eng) if isinstance(x, str) else x)
tomato = tomato.apply(lambda col: col.map(lambda x: x.translate(nep_to_eng) if isinstance(x, str) else x))

In [426]:
tomato.head()

           Date             commodity    unit  minimum  maximum  average_price
0    2022-01-01  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.    110.0    120.0         115.00
109  2022-01-02  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.    110.0    120.0         115.00
216  2022-01-03  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.     90.0    100.0          95.00
323  2022-01-04  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.     90.0    100.0          96.67
430  2022-01-05  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.     80.0     90.0          86.67

In [427]:
tomato.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1044 entries, 0 to 102090
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1044 non-null   object
 1   commodity      1044 non-null   object
 2   unit           1044 non-null   object
 3   minimum        1044 non-null   float64
 4   maximum        1044 non-null   float64
 5   average_price  1044 non-null   float64
dtypes: float64(3), object(3)
memory usage: 57.1+ KB

In [428]:
tomato.head()

           Date             commodity    unit  minimum  maximum  average_price
0    2022-01-01  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.    110.0    120.0         115.00
109  2022-01-02  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.    110.0    120.0         115.00
216  2022-01-03  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.     90.0    100.0          95.00
323  2022-01-04  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.     90.0    100.0          96.67
430  2022-01-05  рдЧреЛрд▓рднреЗрдбрд╛ рдареВрд▓реЛ(рдиреЗрдкрд╛рд▓реА)  рдХреЗ.рдЬреА.     80.0     90.0          86.67

In [429]:
tomato['commodity']='Tomato_Big'

In [430]:
tomato.head()

           Date   commodity    unit  minimum  maximum  average_price
0    2022-01-01  Tomato_Big  рдХреЗ.рдЬреА.    110.0    120.0         115.00
109  2022-01-02  Tomato_Big  рдХреЗ.рдЬреА.    110.0    120.0         115.00
216  2022-01-03  Tomato_Big  рдХреЗ.рдЬреА.     90.0    100.0          95.00
323  2022-01-04  Tomato_Big  рдХреЗ.рдЬреА.     90.0    100.0          96.67
430  2022-01-05  Tomato_Big  рдХреЗ.рдЬреА.     80.0     90.0          86.67

In [431]:
tomato.isnull().sum()

Date             0
commodity        0
unit             0
minimum          0
maximum          0
average_price    0
dtype: int64

In [432]:
tomato.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1044 entries, 0 to 102090
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1044 non-null   object
 1   commodity      1044 non-null   object
 2   unit           1044 non-null   object
 3   minimum        1044 non-null   float64
 4   maximum        1044 non-null   float64
 5   average_price  1044 non-null   float64
dtypes: float64(3), object(3)
memory usage: 57.1+ KB

In [433]:
tomato['Date'] = pd.to_datetime(tomato['Date'],errors = 'coerce')

In [434]:
tomato.head()

          Date   commodity    unit  minimum  maximum  average_price
0   2022-01-01  Tomato_Big  рдХреЗ.рдЬреА.    110.0    120.0         115.00
109 2022-01-02  Tomato_Big  рдХреЗ.рдЬреА.    110.0    120.0         115.00
216 2022-01-03  Tomato_Big  рдХреЗ.рдЬреА.     90.0    100.0          95.00
323 2022-01-04  Tomato_Big  рдХреЗ.рдЬреА.     90.0    100.0          96.67
430 2022-01-05  Tomato_Big  рдХреЗ.рдЬреА.     80.0     90.0          86.67

In [435]:
tomato.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1044 entries, 0 to 102090
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1044 non-null   datetime64[ns]
 1   commodity      1044 non-null   object
 2   unit           1044 non-null   object
 3   minimum        1044 non-null   float64
 4   maximum        1044 non-null   float64
 5   average_price  1044 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 57.1+ KB

In [436]:
supply = pd.read_csv('supply_volume.csv')

In [437]:
supply.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60430 entries, 0 to 60429
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           60430 non-null  object
 1   Unit           60430 non-null  object
 2   commodity      60430 non-null  object
 3   supply_Volume  60417 non-null  float64
dtypes: float64(1), object(3)
memory usage: 1.8+ MB

In [438]:
tomato_supply = supply[supply['commodity']=='Tomato_Big']

In [439]:
tomato_supply.head()

           Date Unit   commodity  supply_Volume
57   2022-01-02   KG  Tomato_Big         8000.0
86   2022-01-03   KG  Tomato_Big        22375.0
139  2022-01-04   KG  Tomato_Big         8000.0
176  2022-01-05   KG  Tomato_Big        32500.0
211  2022-01-06   KG  Tomato_Big        11250.0

In [440]:
tomato_supply.isnull().sum()

Date             0
Unit             0
commodity        0
supply_Volume    0
dtype: int64

In [441]:
tomato_supply.info()

<class 'pandas.core.frame.DataFrame'>
Index: 795 entries, 57 to 60379
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           795 non-null    object
 1   Unit           795 non-null    object
 2   commodity      795 non-null    object
 3   supply_Volume  795 non-null    float64
dtypes: float64(1), object(3)
memory usage: 31.1+ KB

In [442]:
tomato_supply['Date'] = pd.to_datetime(tomato_supply['Date'],errors = 'coerce')

C:\Users\User\AppData\Local\Temp\ipykernel_19988\2008704278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tomato_supply['Date'] = pd.to_datetime(tomato_supply['Date'],errors = 'coerce')

In [443]:
tomato_supply.info()

<class 'pandas.core.frame.DataFrame'>
Index: 795 entries, 57 to 60379
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           795 non-null    datetime64[ns]
 1   Unit           795 non-null    object
 2   commodity      795 non-null    object
 3   supply_Volume  795 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 31.1+ KB

In [444]:
df = pd.merge(tomato,tomato_supply,on = 'Date', how = 'left')

In [445]:
df.head()

,Date,commodity_x,unit,minimum,maximum,average_price,Unit,commodity_y,supply_Volume
0,2022-01-01,Tomato_Big,рдХреЗ.рдЬреА.,110.0,120.0,115.00,NaN,NaN,NaN
1,2022-01-02,Tomato_Big,рдХреЗ.рдЬреА.,110.0,120.0,115.00,KG,Tomato_Big,8000.0
2,2022-01-03,Tomato_Big,рдХреЗ.рдЬреА.,90.0,100.0,95.00,KG,Tomato_Big,22375.0
3,2022-01-04,Tomato_Big,рдХреЗ.рдЬреА.,90.0,100.0,96.67,KG,Tomato_Big,8000.0
4,2022-01-05,Tomato_Big,рдХреЗ.рдЬреА.,80.0,90.0,86.67,KG,Tomato_Big,32500.0

In [446]:
df['supply_Volume'] =  df['supply_Volume'].fillna(0)

In [447]:
df.head()

,Date,commodity_x,unit,minimum,maximum,average_price,Unit,commodity_y,supply_Volume
0,2022-01-01,Tomato_Big,рдХреЗ.рдЬреА.,110.0,120.0,115.00,NaN,NaN,0.0
1,2022-01-02,Tomato_Big,рдХреЗ.рдЬреА.,110.0,120.0,115.00,KG,Tomato_Big,8000.0
2,2022-01-03,Tomato_Big,рдХреЗ.рдЬреА.,90.0,100.0,95.00,KG,Tomato_Big,22375.0
3,2022-01-04,Tomato_Big,рдХреЗ.рдЬреА.,90.0,100.0,96.67,KG,Tomato_Big,8000.0
4,2022-01-05,Tomato_Big,рдХреЗ.рдЬреА.,80.0,90.0,86.67,KG,Tomato_Big,32500.0

In [448]:
df.drop(columns = ['commodity_y','Unit','minimum','maximum'], inplace = True)

In [449]:
df.head()

        Date commodity_x    unit  average_price  supply_Volume
0 2022-01-01  Tomato_Big  рдХреЗ.рдЬреА.         115.00            0.0
1 2022-01-02  Tomato_Big  рдХреЗ.рдЬреА.         115.00         8000.0
2 2022-01-03  Tomato_Big  рдХреЗ.рдЬреА.          95.00        22375.0
3 2022-01-04  Tomato_Big  рдХреЗ.рдЬреА.          96.67         8000.0
4 2022-01-05  Tomato_Big  рдХреЗ.рдЬреА.          86.67        32500.0

In [450]:
len(df['Date'])

1044

In [451]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1044 non-null   datetime64[ns]
 1   commodity_x    1044 non-null   object
 2   unit           1044 non-null   object
 3   average_price  1044 non-null   float64
 4   supply_Volume  1044 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 40.9+ KB

In [452]:
df.isnull().sum()

Date             0
commodity_x      0
unit             0
average_price    0
supply_Volume    0
dtype: int64

In [453]:
weather = pd.read_csv('merged_datset_(weather + rainfall + usd_to_npr).csv')
weather.head()

,date,temperature_avg,temperature_min,temperature_max,precipitation,wind_speed,air_pressure,rainfall_mm,usd_to_npr
0,2018-01-01,10.3,6.0,19.4,0.0,4.7,1016.8,NaN,NaN
1,2018-01-02,9.0,3.4,18.1,0.0,5.2,1015.8,NaN,NaN
2,2018-01-03,8.4,2.0,17.6,0.0,5.5,1015.5,NaN,NaN
3,2018-01-04,8.6,1.1,19.1,0.0,4.7,1017.4,NaN,NaN
4,2018-01-05,8.2,1.6,17.2,0.0,4.5,1015.8,NaN,NaN

In [455]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2848 entries, 0 to 2847
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             2848 non-null   object
 1   temperature_avg  2847 non-null   float64
 2   temperature_min  2833 non-null   float64
 3   temperature_max  2841 non-null   float64
 4   precipitation    2306 non-null   float64
 5   wind_speed       2844 non-null   float64
 6   air_pressure     2823 non-null   float64
 7   rainfall_mm      1105 non-null   float64
 8   usd_to_npr       787 non-null    float64
dtypes: float64(8), object(1)
memory usage: 200.4+ KB

In [456]:
weather['date'] = pd.to_datetime(weather['date'], errors = 'coerce')

In [457]:
df = pd.merge(df,weather, left_on = 'Date',right_on =  'date', how = 'left')

In [243]:
df.head()

,Date,commodity_x,average_price,Unit,supply_Volume,date,temperature_avg,temperature_min,temperature_max,precipitation,wind_speed,air_pressure,rainfall_mm,usd_to_npr
0,2022-01-01,Tomato_Big,115.00,NaN,0.0,2022-01-01,9.0,3.4,16.6,NaN,4.7,1023.5,NaN,NaN
1,2022-01-02,Tomato_Big,115.00,KG,8000.0,2022-01-02,9.8,3.6,17.6,NaN,4.5,1022.3,NaN,NaN
2,2022-01-03,Tomato_Big,95.00,KG,22375.0,2022-01-03,10.0,4.0,18.1,0.0,5.3,1020.6,NaN,NaN
3,2022-01-04,Tomato_Big,96.67,KG,8000.0,2022-01-04,10.2,4.1,17.6,0.0,5.0,1020.6,NaN,NaN
4,2022-01-05,Tomato_Big,86.67,KG,32500.0,2022-01-05,11.0,5.6,17.6,0.0,5.8,1020.6,NaN,NaN

In [463]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             1044 non-null   datetime64[ns]
 1   commodity_x      1044 non-null   object
 2   unit             1044 non-null   object
 3   average_price    1044 non-null   float64
 4   supply_Volume    1044 non-null   float64
 5   date             1042 non-null   datetime64[ns]
 6   temperature_avg  1042 non-null   float64
 7   temperature_min  1042 non-null   float64
 8   temperature_max  1042 non-null   float64
 9   precipitation    1017 non-null   float64
 10  wind_speed       1042 non-null   float64
 11  air_pressure     1042 non-null   float64
 12  rainfall_mm      821 non-null    float64
 13  usd_to_npr       591 non-null    float64
dtypes: datetime64[ns](2), float64(10), object(2)
memory usage: 114.3+ KB

In [465]:
col_select = ['Date','commodity_x','average_price','unit','supply_Volume','temperature_avg','precipitation','wind_speed','air_pressure','rainfall_mm']

In [466]:
df = df[col_select]

In [246]:
df.head()

,Date,commodity_x,average_price,Unit,supply_Volume,temperature_avg,precipitation,wind_speed,air_pressure,rainfall_mm
0,2022-01-01,Tomato_Big,115.00,NaN,0.0,9.0,NaN,4.7,1023.5,NaN
1,2022-01-02,Tomato_Big,115.00,KG,8000.0,9.8,NaN,4.5,1022.3,NaN
2,2022-01-03,Tomato_Big,95.00,KG,22375.0,10.0,0.0,5.3,1020.6,NaN
3,2022-01-04,Tomato_Big,96.67,KG,8000.0,10.2,0.0,5.0,1020.6,NaN
4,2022-01-05,Tomato_Big,86.67,KG,32500.0,11.0,0.0,5.8,1020.6,NaN

In [467]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             1044 non-null   datetime64[ns]
 1   commodity_x      1044 non-null   object
 2   average_price    1044 non-null   float64
 3   unit             1044 non-null   object
 4   supply_Volume    1044 non-null   float64
 5   temperature_avg  1042 non-null   float64
 6   precipitation    1017 non-null   float64
 7   wind_speed       1042 non-null   float64
 8   air_pressure     1042 non-null   float64
 9   rainfall_mm      821 non-null    float64
dtypes: datetime64[ns](1), float64(7), object(2)
memory usage: 81.7+ KB

In [469]:
df = df.copy()
df['rainfall_mm'] = df['rainfall_mm'].fillna(0)

In [470]:
df.head()

,Date,commodity_x,average_price,unit,supply_Volume,temperature_avg,precipitation,wind_speed,air_pressure,rainfall_mm
0,2022-01-01,Tomato_Big,115.00,рдХреЗ.рдЬреА.,0.0,9.0,NaN,4.7,1023.5,0.0
1,2022-01-02,Tomato_Big,115.00,рдХреЗ.рдЬреА.,8000.0,9.8,NaN,4.5,1022.3,0.0
2,2022-01-03,Tomato_Big,95.00,рдХреЗ.рдЬреА.,22375.0,10.0,0.0,5.3,1020.6,0.0
3,2022-01-04,Tomato_Big,96.67,рдХреЗ.рдЬреА.,8000.0,10.2,0.0,5.0,1020.6,0.0
4,2022-01-05,Tomato_Big,86.67,рдХреЗ.рдЬреА.,32500.0,11.0,0.0,5.8,1020.6,0.0

In [471]:
df['precipitation'] = df['precipitation'].fillna(0)

In [472]:
df.head()

,Date,commodity_x,average_price,unit,supply_Volume,temperature_avg,precipitation,wind_speed,air_pressure,rainfall_mm
0,2022-01-01,Tomato_Big,115.00,рдХреЗ.рдЬреА.,0.0,9.0,0.0,4.7,1023.5,0.0
1,2022-01-02,Tomato_Big,115.00,рдХреЗ.рдЬреА.,8000.0,9.8,0.0,4.5,1022.3,0.0
2,2022-01-03,Tomato_Big,95.00,рдХреЗ.рдЬреА.,22375.0,10.0,0.0,5.3,1020.6,0.0
3,2022-01-04,Tomato_Big,96.67,рдХреЗ.рдЬреА.,8000.0,10.2,0.0,5.0,1020.6,0.0
4,2022-01-05,Tomato_Big,86.67,рдХреЗ.рдЬреА.,32500.0,11.0,0.0,5.8,1020.6,0.0

In [473]:
exchnage = pd.read_csv('USD_NPR_Yahoo.csv')
exchnage.head()

         Date          USD_to_NPR
0         NaN            USDNPR=X
1  2022-01-03  117.49180603027344
2  2022-01-04  117.46723937988281
3  2022-01-05  117.55131530761719
4  2022-01-06  117.42108154296875

In [474]:
exchnage = exchnage.drop(index=0).reset_index(drop=True)

In [475]:
exchnage

           Date          USD_to_NPR
0    2022-01-03  117.49180603027344
1    2022-01-04  117.46723937988281
2    2022-01-05  117.55131530761719
3    2022-01-06  117.42108154296875
4    2022-01-07   117.5907974243164
..          ...                 ...
983  2025-10-14  140.40921020507812
984  2025-10-15  140.58120727539062
985  2025-10-16  139.45907592773438
986  2025-10-17  139.18321228027344
987  2025-10-20  139.74261474609375

[988 rows x 2 columns]

In [478]:
exchnage['Date'] = pd.to_datetime(exchnage['Date'], errors = 'coerce')

In [479]:
df = pd.merge(df,exchnage, on = 'Date' , how = 'left')

In [480]:
df.head()

,Date,commodity_x,average_price,unit,supply_Volume,temperature_avg,precipitation,wind_speed,air_pressure,rainfall_mm,USD_to_NPR
0,2022-01-01,Tomato_Big,115.00,рдХреЗ.рдЬреА.,0.0,9.0,0.0,4.7,1023.5,0.0,NaN
1,2022-01-02,Tomato_Big,115.00,рдХреЗ.рдЬреА.,8000.0,9.8,0.0,4.5,1022.3,0.0,NaN
2,2022-01-03,Tomato_Big,95.00,рдХреЗ.рдЬреА.,22375.0,10.0,0.0,5.3,1020.6,0.0,117.49180603027344
3,2022-01-04,Tomato_Big,96.67,рдХреЗ.рдЬреА.,8000.0,10.2,0.0,5.0,1020.6,0.0,117.46723937988281
4,2022-01-05,Tomato_Big,86.67,рдХреЗ.рдЬреА.,32500.0,11.0,0.0,5.8,1020.6,0.0,117.55131530761719

In [482]:
df['USD_to_NPR'] = df['USD_to_NPR'].bfill()

# # For forward fill (if you ever need it)
# df['USD_to_NPR'] = df['USD_to_NPR'].ffill()

In [483]:
df.head()

,Date,commodity_x,average_price,unit,supply_Volume,temperature_avg,precipitation,wind_speed,air_pressure,rainfall_mm,USD_to_NPR
0,2022-01-01,Tomato_Big,115.00,рдХреЗ.рдЬреА.,0.0,9.0,0.0,4.7,1023.5,0.0,117.49180603027344
1,2022-01-02,Tomato_Big,115.00,рдХреЗ.рдЬреА.,8000.0,9.8,0.0,4.5,1022.3,0.0,117.49180603027344
2,2022-01-03,Tomato_Big,95.00,рдХреЗ.рдЬреА.,22375.0,10.0,0.0,5.3,1020.6,0.0,117.49180603027344
3,2022-01-04,Tomato_Big,96.67,рдХреЗ.рдЬреА.,8000.0,10.2,0.0,5.0,1020.6,0.0,117.46723937988281
4,2022-01-05,Tomato_Big,86.67,рдХреЗ.рдЬреА.,32500.0,11.0,0.0,5.8,1020.6,0.0,117.55131530761719

In [484]:
df['USD_to_NPR'] = pd.to_numeric(df['USD_to_NPR'], errors = 'coerce')
df['USD_to_NPR'] = df['USD_to_NPR'].round(2)

In [485]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             1044 non-null   datetime64[ns]
 1   commodity_x      1044 non-null   object
 2   average_price    1044 non-null   float64
 3   unit             1044 non-null   object
 4   supply_Volume    1044 non-null   float64
 5   temperature_avg  1042 non-null   float64
 6   precipitation    1044 non-null   float64
 7   wind_speed       1042 non-null   float64
 8   air_pressure     1042 non-null   float64
 9   rainfall_mm      1044 non-null   float64
 10  USD_to_NPR       1044 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(2)
memory usage: 89.8+ KB

In [486]:
df.head()

,Date,commodity_x,average_price,unit,supply_Volume,temperature_avg,precipitation,wind_speed,air_pressure,rainfall_mm,USD_to_NPR
0,2022-01-01,Tomato_Big,115.00,рдХреЗ.рдЬреА.,0.0,9.0,0.0,4.7,1023.5,0.0,117.49
1,2022-01-02,Tomato_Big,115.00,рдХреЗ.рдЬреА.,8000.0,9.8,0.0,4.5,1022.3,0.0,117.49
2,2022-01-03,Tomato_Big,95.00,рдХреЗ.рдЬреА.,22375.0,10.0,0.0,5.3,1020.6,0.0,117.49
3,2022-01-04,Tomato_Big,96.67,рдХреЗ.рдЬреА.,8000.0,10.2,0.0,5.0,1020.6,0.0,117.47
4,2022-01-05,Tomato_Big,86.67,рдХреЗ.рдЬреА.,32500.0,11.0,0.0,5.8,1020.6,0.0,117.55

In [487]:
fuel = pd.read_csv('final_fuel_data.csv')
fuel.head()

  English Date  diesel
0   2025.08.31   145.0
1   2025.09.30   145.0
2   2025.09.15   142.5
3   2025.08.15   149.0
4   2025.07.31   150.0

In [488]:
fuel['English Date'] = pd.to_datetime(fuel['English Date'], errors='coerce')

In [489]:
fuel.head()

  English Date  diesel
0   2025-08-31   145.0
1   2025-09-30   145.0
2   2025-09-15   142.5
3   2025-08-15   149.0
4   2025-07-31   150.0

In [490]:
# --- 2я╕ПтГг Sort dataset by date (ascending order) ---
fuel = fuel.sort_values(by='English Date').reset_index(drop=True)

In [491]:
fuel.head()

  English Date  diesel
0   2017-11-01    75.5
1   2017-11-02    74.0
2   2017-12-08    77.0
3   2017-12-19    78.0
4   2018-01-01    79.0

In [492]:
# --- 3я╕ПтГг Filter data from 2022-01-01 onwards ---
fuel = fuel[fuel['English Date'] >= '2022-01-01']

In [493]:
fuel.head()

   English Date  diesel
62   2022-01-19   122.0
63   2022-02-01   125.0
64   2022-02-19   128.0
65   2022-02-20   128.0
66   2022-03-03   133.0

In [494]:
# Rename the column
fuel.rename(columns={'English Date': 'Date'}, inplace=True)

In [495]:
fuel.head()

         Date  diesel
62 2022-01-19   122.0
63 2022-02-01   125.0
64 2022-02-19   128.0
65 2022-02-20   128.0
66 2022-03-03   133.0

In [496]:
# 1я╕ПтГг Ensure both Date columns are datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
fuel['Date'] = pd.to_datetime(fuel['Date'], errors='coerce')

# 2я╕ПтГг Sort both dataframes by Date
df = df.sort_values(by='Date')
fuel = fuel.sort_values(by='Date')

# 3я╕ПтГг Merge 'fuel' into 'df' on Date (left join to keep dfтАЩs rows)
df = pd.merge(df, fuel, on='Date', how='left')

# 4я╕ПтГг Forward fill missing diesel values
df['diesel'] = df['diesel'].ffill()

# 5я╕ПтГг Check results
print(df[['Date', 'diesel']].head(10))
print(df.isnull().sum())

        Date  diesel
0 2022-01-01     NaN
1 2022-01-02     NaN
2 2022-01-03     NaN
3 2022-01-04     NaN
4 2022-01-05     NaN
5 2022-01-06     NaN
6 2022-01-07     NaN
7 2022-01-08     NaN
8 2022-01-09     NaN
9 2022-01-10     NaN
Date                0
commodity_x         0
average_price       0
unit                0
supply_Volume       0
temperature_avg     2
precipitation       0
wind_speed          2
air_pressure        2
rainfall_mm         0
USD_to_NPR          0
diesel             18
dtype: int64

In [497]:
df.head(100)

,Date,commodity_x,average_price,unit,supply_Volume,temperature_avg,precipitation,wind_speed,air_pressure,rainfall_mm,USD_to_NPR,diesel
0,2022-01-01,Tomato_Big,115.00,рдХреЗ.рдЬреА.,0.0,9.0,0.0,4.7,1023.5,0.0,117.49,NaN
1,2022-01-02,Tomato_Big,115.00,рдХреЗ.рдЬреА.,8000.0,9.8,0.0,4.5,1022.3,0.0,117.49,NaN
2,2022-01-03,Tomato_Big,95.00,рдХреЗ.рдЬреА.,22375.0,10.0,0.0,5.3,1020.6,0.0,117.49,NaN
3,2022-01-04,Tomato_Big,96.67,рдХреЗ.рдЬреА.,8000.0,10.2,0.0,5.0,1020.6,0.0,117.47,NaN
4,2022-01-05,Tomato_Big,86.67,рдХреЗ.рдЬреА.,32500.0,11.0,0.0,5.8,1020.6,0.0,117.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022-04-14,Tomato_Big,66.67,рдХреЗ.рдЬреА.,107950.0,22.6,3.0,10.3,1011.2,0.0,120.20,143.0
96,2022-04-15,Tomato_Big,56.67,рдХреЗ.рдЬреА.,93750.0,22.5,0.0,8.8,1010.8,0.0,120.26,143.0
97,2022-04-16,Tomato_Big,56.67,рдХреЗ.рдЬреА.,77935.0,22.2,0.0,9.8,1011.1,0.0,121.29,143.0
98,2022-04-17,Tomato_Big,55.00,рдХреЗ.рдЬреА.,40075.0,21.8,0.0,9.5,1012.5,0.0,121.29,143.0
99,2022-04-18,Tomato_Big,55.00,рдХреЗ.рдЬреА.,76885.0,22.5,0.0,9.2,1014.8,0.0,121.29,143.0

In [498]:
df.shape

(1044, 12)

In [499]:
df.isnull().sum()

Date                0
commodity_x         0
average_price       0
unit                0
supply_Volume       0
temperature_avg     2
precipitation       0
wind_speed          2
air_pressure        2
rainfall_mm         0
USD_to_NPR          0
diesel             18
dtype: int64

In [500]:
df['USD_to_NPR'] = df['USD_to_NPR'].bfill()

In [501]:
df.head()

,Date,commodity_x,average_price,unit,supply_Volume,temperature_avg,precipitation,wind_speed,air_pressure,rainfall_mm,USD_to_NPR,diesel
0,2022-01-01,Tomato_Big,115.00,рдХреЗ.рдЬреА.,0.0,9.0,0.0,4.7,1023.5,0.0,117.49,NaN
1,2022-01-02,Tomato_Big,115.00,рдХреЗ.рдЬреА.,8000.0,9.8,0.0,4.5,1022.3,0.0,117.49,NaN
2,2022-01-03,Tomato_Big,95.00,рдХреЗ.рдЬреА.,22375.0,10.0,0.0,5.3,1020.6,0.0,117.49,NaN
3,2022-01-04,Tomato_Big,96.67,рдХреЗ.рдЬреА.,8000.0,10.2,0.0,5.0,1020.6,0.0,117.47,NaN
4,2022-01-05,Tomato_Big,86.67,рдХреЗ.рдЬреА.,32500.0,11.0,0.0,5.8,1020.6,0.0,117.55,NaN

In [506]:
df['diesel'].iloc[0] = 119

C:\Users\User\AppData\Local\Temp\ipykernel_19988\3973222298.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['diesel'].iloc[0] = 119
C:\Users\User\AppData\Local\Temp\ipykernel_19988\3973222298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['diesel'].iloc[0] = 119

In [507]:
df.loc[df.index[0], 'diesel'] = 119

In [508]:
df.head()

,Date,commodity_x,average_price,unit,supply_Volume,temperature_avg,precipitation,wind_speed,air_pressure,rainfall_mm,USD_to_NPR,diesel
0,2022-01-01,Tomato_Big,115.00,рдХреЗ.рдЬреА.,0.0,9.0,0.0,4.7,1023.5,0.0,117.49,119.0
1,2022-01-02,Tomato_Big,115.00,рдХреЗ.рдЬреА.,8000.0,9.8,0.0,4.5,1022.3,0.0,117.49,NaN
2,2022-01-03,Tomato_Big,95.00,рдХреЗ.рдЬреА.,22375.0,10.0,0.0,5.3,1020.6,0.0,117.49,NaN
3,2022-01-04,Tomato_Big,96.67,рдХреЗ.рдЬреА.,8000.0,10.2,0.0,5.0,1020.6,0.0,117.47,NaN
4,2022-01-05,Tomato_Big,86.67,рдХреЗ.рдЬреА.,32500.0,11.0,0.0,5.8,1020.6,0.0,117.55,NaN

In [509]:
df['diesel'] = df['diesel'].ffill()

In [510]:
df.isnull().sum()

Date               0
commodity_x        0
average_price      0
unit               0
supply_Volume      0
temperature_avg    2
precipitation      0
wind_speed         2
air_pressure       2
rainfall_mm        0
USD_to_NPR         0
diesel             0
dtype: int64

In [511]:
df = df.fillna(df.mean(numeric_only=True))

In [512]:
df.head()

,Date,commodity_x,average_price,unit,supply_Volume,temperature_avg,precipitation,wind_speed,air_pressure,rainfall_mm,USD_to_NPR,diesel
0,2022-01-01,Tomato_Big,115.00,рдХреЗ.рдЬреА.,0.0,9.0,0.0,4.7,1023.5,0.0,117.49,119.0
1,2022-01-02,Tomato_Big,115.00,рдХреЗ.рдЬреА.,8000.0,9.8,0.0,4.5,1022.3,0.0,117.49,119.0
2,2022-01-03,Tomato_Big,95.00,рдХреЗ.рдЬреА.,22375.0,10.0,0.0,5.3,1020.6,0.0,117.49,119.0
3,2022-01-04,Tomato_Big,96.67,рдХреЗ.рдЬреА.,8000.0,10.2,0.0,5.0,1020.6,0.0,117.47,119.0
4,2022-01-05,Tomato_Big,86.67,рдХреЗ.рдЬреА.,32500.0,11.0,0.0,5.8,1020.6,0.0,117.55,119.0

In [513]:
df.isnull().sum()

Date               0
commodity_x        0
average_price      0
unit               0
supply_Volume      0
temperature_avg    0
precipitation      0
wind_speed         0
air_pressure       0
rainfall_mm        0
USD_to_NPR         0
diesel             0
dtype: int64

In [514]:
df.to_csv('TOMATO.csv', index=False, encoding='utf-8-sig')