In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('veg_price_list.csv')

In [12]:
# Assuming you want to rename the columns to standard English names
df = pd.read_csv('veg_price_list.csv')

# Define the renaming map
column_rename_map = {
    'Date': 'Date',          # 'Date' is already English, keeping it the same
    'कृषि उपज': 'commodity',   # Agricultural Produce
    'ईकाइ': 'Unit',          # Unit (like kg, quintal, etc.)
    'न्यूनतम': 'Minimum',     # Minimum Price
    'अधिकतम': 'Maximum',     # Maximum Price
    'औसत': 'Average_Price'         # Average Price
}

# Rename the columns
df = df.rename(columns=column_rename_map)

# Print the new column names to verify
print(df.columns)

Index(['Date', 'commodity', 'Unit', 'Minimum', 'Maximum', 'Average_Price'], dtype='object')

In [13]:
tomato = df[df['commodity'] =='गोलभेडा ठूलो(नेपाली)']

In [14]:
tomato.info()

<class 'pandas.core.frame.DataFrame'>
Index: 745 entries, 0 to 102518
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           745 non-null    object
 1   commodity      745 non-null    object
 2   Unit           745 non-null    object
 3   Minimum        745 non-null    object
 4   Maximum        745 non-null    object
 5   Average_Price  745 non-null    object
dtypes: object(6)
memory usage: 40.7+ KB

In [15]:
tomato.head()

,Date,commodity,Unit,Minimum,Maximum,Average_Price
0,01/01/2023,गोलभेडा ठूलो(नेपाली),के.जी.,रू ४०.००,रू ५०.००,रू ४५.००
111,01/02/2023,गोलभेडा ठूलो(नेपाली),के.जी.,रू ४०.००,रू ५०.००,रू ४६.६७
224,01/03/2023,गोलभेडा ठूलो(नेपाली),के.जी.,रू ४०.००,रू ५०.००,रू ४५.००
333,01/04/2023,गोलभेडा ठूलो(नेपाली),के.जी.,रू ५०.००,रू ६०.००,रू ५५.००
444,01/05/2023,गोलभेडा ठूलो(नेपाली),के.जी.,रू ४०.००,रू ५०.००,रू ४६.६७

In [18]:
import pandas as pd

# Define the new column names
new_columns = ['commodity','Date' , 'Unit', 'Minimum', 'Maximum', 'Average']

# Read the CSV file and assign the column names using the 'names' parameter
df1 = pd.read_csv(
    'kalimati2.csv',
    names=new_columns,
    header=None  # Use header=None if your CSV file doesn't have an existing header row
)

print(df1.head())

              commodity      Date Unit Minimum Maximum Average
0    Tomato Big(Nepali)  1/5/2021   Kg      50      60      55
1    Tomato Big(Indian)  1/5/2021   Kg      50      60      55
2   Tomato Small(Local)  1/5/2021   Kg      30      35    32.5
3  Tomato Small(Tunnel)  1/5/2021   Kg      30      35    32.5
4  Tomato Small(Indian)  1/5/2021   KG      40      45    42.5

In [19]:
Tomato_2 = df1[df1['commodity'] == 'Tomato Big(Nepali)']

In [20]:
Tomato_2

                commodity        Date Unit   Minimum   Maximum   Average
0      Tomato Big(Nepali)    1/5/2021   Kg        50        60        55
96     Tomato Big(Nepali)    1/6/2021   Kg        50        60        55
193    Tomato Big(Nepali)    1/7/2021   Kg        45        50      47.5
287    Tomato Big(Nepali)    1/8/2021   Kg        50        55      52.5
382    Tomato Big(Nepali)    1/9/2021   Kg        40        50        45
...                   ...         ...  ...       ...       ...       ...
95159  Tomato Big(Nepali)  2023-09-14   KG  Rs 60.00  Rs 70.00  Rs 65.00
95523  Tomato Big(Nepali)  2023-09-18   KG  Rs 60.00  Rs 70.00  Rs 65.00
95618  Tomato Big(Nepali)  2023-09-19   KG  Rs 70.00  Rs 80.00  Rs 75.00
95715  Tomato Big(Nepali)  2023-09-20   KG  Rs 45.00  Rs 55.00  Rs 50.00
95812  Tomato Big(Nepali)  2023-09-21   KG  Rs 45.00  Rs 55.00  Rs 50.00

[757 rows x 6 columns]

In [28]:
# Assuming 'df' is your main DataFrame
# Use .copy() when creating 'tomato'
tomato = df[df['commodity'] == 'tomato'].copy()

# Now, apply your cleaning operation
tomato['Price'] = tomato['Average_Price'].str.split(' ').str[1]

In [29]:
tomato['Price'] = pd.to_numeric(tomato['Price'], errors = 'coerce')

In [30]:
tomato.head()

Empty DataFrame
Columns: [Date, commodity, Unit, Minimum, Maximum, Average_Price, Price]
Index: []