In [33]:
import pandas as pd

In [34]:
df = pd.read_csv('vegetable_price_data.csv')

In [35]:
df.head()

,Unnamed: 0,Date,commodity,unit,minimum,maximum,average_price
0,0,2022-01-01,‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§®‡•á‡§™‡§æ‡§≤‡•Ä),‡§ï‡•á.‡§ú‡•Ä.,‡§∞‡•Ç ‡•ß‡•ß‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•ß‡•®‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•ß‡•ß‡•´.‡•¶‡•¶
1,1,2022-01-01,‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø),‡§ï‡•á‡§ú‡•Ä,‡§∞‡•Ç ‡•ß‡•¶‡•ß.‡•¶‡•¶,‡§∞‡•Ç ‡•ß‡•¶‡•ß.‡•¶‡•¶,‡§∞‡•Ç ‡•ß‡•¶‡•ß.‡•¶‡•¶
2,2,2022-01-01,‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§∏‡§æ‡§®‡•ã(‡§≤‡•ã‡§ï‡§≤),‡§ï‡•á.‡§ú‡•Ä.,‡§∞‡•Ç ‡•™‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•´‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•™‡•´.‡•¶‡•¶
3,3,2022-01-01,‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§∏‡§æ‡§®‡•ã(‡§ü‡§®‡•á‡§≤),‡§ï‡•á ‡§ú‡•Ä,‡§∞‡•Ç ‡•´‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•¨‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•´‡•´.‡•¶‡•¶
4,4,2022-01-01,‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§∏‡§æ‡§®‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø),‡§ï‡•á ‡§ú‡•Ä,‡§∞‡•Ç ‡•´‡•´.‡•¶‡•¶,‡§∞‡•Ç ‡•¨‡•´.‡•¶‡•¶,‡§∞‡•Ç ‡•¨‡•¶.‡•¶‡•¶

In [36]:
df.tail()

,Unnamed: 0,Date,commodity,unit,minimum,maximum,average_price
137280,102192,10/20/2025,‡§§‡§æ‡§ú‡§æ ‡§Æ‡§æ‡§õ‡§æ(‡§¨‡§ö‡•Å‡§µ‡§æ),‡§ï‡•á ‡§ú‡•Ä,‡§∞‡•Ç ‡•®‡•¨‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•®‡•Æ‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•®‡•≠‡•¶.‡•¶‡•¶
137281,102193,10/20/2025,‡§§‡§æ‡§ú‡§æ ‡§Æ‡§æ‡§õ‡§æ(‡§õ‡§°‡•Ä),‡§ï‡•á ‡§ú‡•Ä,‡§∞‡•Ç ‡•®‡•®‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•®‡•™‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•®‡•©‡•¶.‡•¶‡•¶
137282,102194,10/20/2025,‡§∞‡•Å‡§ñ ‡§ü‡§Æ‡§æ‡§ü‡§∞,‡§ï‡•á‡§ú‡•Ä,‡§∞‡•Ç ‡•ß‡•©‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•ß‡•™‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•ß‡•©‡•´.‡•¶‡•¶
137283,102195,10/20/2025,‡§∞‡§æ‡§ú‡§æ ‡§ö‡•ç‡§Ø‡§æ‡§â,‡§ï‡•á.‡§ú‡•Ä.,‡§∞‡•Ç ‡•®‡•Æ‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•©‡•¶‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•®‡•Ø‡•¶.‡•¶‡•¶
137284,102196,10/20/2025,‡§∏‡§ø‡§§‡§æ‡§ï‡•á ‡§ö‡•ç‡§Ø‡§æ‡§â,‡§ï‡•á.‡§ú‡•Ä.,‡§∞‡•Ç ‡•Ø‡•¶‡•¶.‡•¶‡•¶,"‡§∞‡•Ç ‡•ß,‡•¶‡•¶‡•¶.‡•¶‡•¶",‡§∞‡•Ç ‡•Ø‡•´‡•¶.‡•¶‡•¶

In [37]:
# Rename Nepali columns to English
df = df.rename(columns={
    '‡§ï‡•É‡§∑‡§ø ‡§â‡§™‡§ú': 'commodity',
    '‡§à‡§ï‡§æ‡§á': 'unit',
    '‡§®‡•ç‡§Ø‡•Ç‡§®‡§§‡§Æ': 'minimum',
    '‡§Ö‡§ß‡§ø‡§ï‡§§‡§Æ': 'maximum',
    '‡§î‡§∏‡§§': 'average_price'
})

# Optional: reorder columns to ensure correct order
df = df[['Date', 'commodity', 'unit', 'minimum', 'maximum', 'average_price']]

# Verify
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137285 entries, 0 to 137284
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           137285 non-null  object
 1   commodity      137285 non-null  object
 2   unit           137276 non-null  object
 3   minimum        137276 non-null  object
 4   maximum        137276 non-null  object
 5   average_price  137276 non-null  object
dtypes: object(6)
memory usage: 6.3+ MB

,Date,commodity,unit,minimum,maximum,average_price
0,2022-01-01,‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§®‡•á‡§™‡§æ‡§≤‡•Ä),‡§ï‡•á.‡§ú‡•Ä.,‡§∞‡•Ç ‡•ß‡•ß‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•ß‡•®‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•ß‡•ß‡•´.‡•¶‡•¶
1,2022-01-01,‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø),‡§ï‡•á‡§ú‡•Ä,‡§∞‡•Ç ‡•ß‡•¶‡•ß.‡•¶‡•¶,‡§∞‡•Ç ‡•ß‡•¶‡•ß.‡•¶‡•¶,‡§∞‡•Ç ‡•ß‡•¶‡•ß.‡•¶‡•¶
2,2022-01-01,‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§∏‡§æ‡§®‡•ã(‡§≤‡•ã‡§ï‡§≤),‡§ï‡•á.‡§ú‡•Ä.,‡§∞‡•Ç ‡•™‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•´‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•™‡•´.‡•¶‡•¶
3,2022-01-01,‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§∏‡§æ‡§®‡•ã(‡§ü‡§®‡•á‡§≤),‡§ï‡•á ‡§ú‡•Ä,‡§∞‡•Ç ‡•´‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•¨‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•´‡•´.‡•¶‡•¶
4,2022-01-01,‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§∏‡§æ‡§®‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø),‡§ï‡•á ‡§ú‡•Ä,‡§∞‡•Ç ‡•´‡•´.‡•¶‡•¶,‡§∞‡•Ç ‡•¨‡•´.‡•¶‡•¶,‡§∞‡•Ç ‡•¨‡•¶.‡•¶‡•¶

In [38]:
df['Date'] = pd.to_datetime(df['Date'], format='mixed', errors='coerce')

In [40]:
df.head

<bound method NDFrame.head of              Date             commodity    unit    minimum      maximum  \
0      2022-01-01  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§®‡•á‡§™‡§æ‡§≤‡•Ä)  ‡§ï‡•á.‡§ú‡•Ä.  ‡§∞‡•Ç ‡•ß‡•ß‡•¶.‡•¶‡•¶    ‡§∞‡•Ç ‡•ß‡•®‡•¶.‡•¶‡•¶
1      2022-01-01  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)    ‡§ï‡•á‡§ú‡•Ä  ‡§∞‡•Ç ‡•ß‡•¶‡•ß.‡•¶‡•¶    ‡§∞‡•Ç ‡•ß‡•¶‡•ß.‡•¶‡•¶
2      2022-01-01    ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§∏‡§æ‡§®‡•ã(‡§≤‡•ã‡§ï‡§≤)  ‡§ï‡•á.‡§ú‡•Ä.   ‡§∞‡•Ç ‡•™‡•¶.‡•¶‡•¶     ‡§∞‡•Ç ‡•´‡•¶.‡•¶‡•¶
3      2022-01-01    ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§∏‡§æ‡§®‡•ã(‡§ü‡§®‡•á‡§≤)   ‡§ï‡•á ‡§ú‡•Ä   ‡§∞‡•Ç ‡•´‡•¶.‡•¶‡•¶     ‡§∞‡•Ç ‡•¨‡•¶.‡•¶‡•¶
4      2022-01-01  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§∏‡§æ‡§®‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)   ‡§ï‡•á ‡§ú‡•Ä   ‡§∞‡•Ç ‡•´‡•´.‡•¶‡•¶     ‡§∞‡•Ç ‡•¨‡•´.‡•¶‡•¶
...           ...                   ...     ...        ...          ...
137280 2025-10-20      ‡§§‡§æ‡§ú‡§æ ‡§Æ‡§æ‡§õ‡§æ(‡§¨‡§ö‡•Å‡§µ‡§æ)   ‡§ï‡•á ‡§ú‡•Ä  ‡§∞‡•Ç ‡•®‡•¨‡•¶.‡•¶‡•¶    ‡§∞‡•Ç ‡•®‡•Æ‡•¶.‡•¶‡•¶
137281 2025-10-20        ‡§§‡§æ‡§ú‡§æ ‡§Æ‡§æ‡§õ‡§æ(‡§õ‡§°‡•Ä)   ‡§ï‡•á ‡§ú‡•Ä  ‡§∞‡•Ç ‡•®‡•®‡•¶.‡•¶‡•¶    ‡§∞‡•Ç ‡•®‡•™‡•¶.‡•¶‡•¶
137282 2025-10-20             ‡§∞‡•Å‡§ñ ‡§ü‡§Æ‡§æ‡§ü‡§∞    ‡§ï‡•á‡§ú‡•Ä  ‡§∞‡•Ç ‡•ß‡•©‡•¶.‡•¶‡•¶    ‡§∞‡•Ç ‡•ß‡•™‡•¶.‡•¶‡•¶
137283 2025-10-20            ‡§∞‡§æ‡§ú‡§æ ‡§ö‡•ç‡§Ø‡§æ‡§â  ‡§ï‡•á.‡§ú‡•Ä.  ‡§∞‡•Ç ‡•®‡•Æ‡•¶.‡•¶‡•¶    ‡§∞‡•Ç ‡•©‡•¶‡•¶.‡•¶‡•¶
137284 2025-10-20          ‡§∏‡§ø‡§§‡§æ‡§ï‡•á ‡§ö‡•ç‡§Ø‡§æ‡§â  ‡§ï‡•á.‡§ú‡•Ä.  ‡§∞‡•Ç ‡•Ø‡•¶‡•¶.‡•¶‡•¶  ‡§∞‡•Ç ‡•ß,‡•¶‡•¶‡•¶.‡•¶‡•¶

       average_price
0          ‡§∞‡•Ç ‡•ß‡•ß‡•´.‡•¶‡•¶
1          ‡§∞‡•Ç ‡•ß‡•¶‡•ß.‡•¶‡•¶
2           ‡§∞‡•Ç ‡•™‡•´.‡•¶‡•¶
3           ‡§∞‡•Ç ‡•´‡•´.‡•¶‡•¶
4           ‡§∞‡•Ç ‡•¨‡•¶.‡•¶‡•¶
...              ...
137280     ‡§∞‡•Ç ‡•®‡•≠‡•¶.‡•¶‡•¶
137281     ‡§∞‡•Ç ‡•®‡•©‡•¶.‡•¶‡•¶
137282     ‡§∞‡•Ç ‡•ß‡•©‡•´.‡•¶‡•¶
137283     ‡§∞‡•Ç ‡•®‡•Ø‡•¶.‡•¶‡•¶
137284     ‡§∞‡•Ç ‡•Ø‡•´‡•¶.‡•¶‡•¶

[137285 rows x 6 columns]>

In [41]:
Indian_Tomato = df[df['commodity']=='‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)']

In [42]:
Indian_Tomato.head()

          Date             commodity  unit    minimum    maximum average_price
1   2022-01-01  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)  ‡§ï‡•á‡§ú‡•Ä  ‡§∞‡•Ç ‡•ß‡•¶‡•ß.‡•¶‡•¶  ‡§∞‡•Ç ‡•ß‡•¶‡•ß.‡•¶‡•¶     ‡§∞‡•Ç ‡•ß‡•¶‡•ß.‡•¶‡•¶
110 2022-01-02  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)  ‡§ï‡•á‡§ú‡•Ä  ‡§∞‡•Ç ‡•ß‡•ß‡•¶.‡•¶‡•¶  ‡§∞‡•Ç ‡•ß‡•®‡•¶.‡•¶‡•¶     ‡§∞‡•Ç ‡•ß‡•ß‡•´.‡•¶‡•¶
217 2022-01-03  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)  ‡§ï‡•á‡§ú‡•Ä   ‡§∞‡•Ç ‡•Ø‡•¶.‡•¶‡•¶  ‡§∞‡•Ç ‡•ß‡•¶‡•¶.‡•¶‡•¶      ‡§∞‡•Ç ‡•Ø‡•´.‡•¶‡•¶
324 2022-01-04  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)  ‡§ï‡•á‡§ú‡•Ä   ‡§∞‡•Ç ‡•Ø‡•¶.‡•¶‡•¶  ‡§∞‡•Ç ‡•ß‡•¶‡•¶.‡•¶‡•¶      ‡§∞‡•Ç ‡•Ø‡•¨.‡•¨‡•≠
431 2022-01-05  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)  ‡§ï‡•á‡§ú‡•Ä   ‡§∞‡•Ç ‡•Æ‡•¶.‡•¶‡•¶   ‡§∞‡•Ç ‡•Ø‡•¶.‡•¶‡•¶      ‡§∞‡•Ç ‡•Æ‡•¨.‡•¨‡•≠

In [43]:
Indian_Tomato.tail()

,Date,commodity,unit,minimum,maximum,average_price
136766,2025-10-16,‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø),‡§ï‡•á‡§ú‡•Ä,‡§∞‡•Ç ‡•¨‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•≠‡•¶.‡•¶‡•¶,‡§∞‡•Ç ‡•¨‡•™.‡•™‡•¶
136867,2025-10-17,‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø),‡§ï‡•á‡§ú‡•Ä,‡§∞‡•Ç ‡•´‡•≠.‡•¶‡•¶,‡§∞‡•Ç ‡•¨‡•¨.‡•¶‡•¶,‡§∞‡•Ç ‡•¨‡•®.‡•Æ‡•¶
136970,2025-10-18,‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø),‡§ï‡•á‡§ú‡•Ä,‡§∞‡•Ç ‡•´‡•≠.‡•¶‡•¶,‡§∞‡•Ç ‡•¨‡•¨.‡•¶‡•¶,‡§∞‡•Ç ‡•¨‡•®.‡•Æ‡•¶
137071,2025-10-19,‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø),‡§ï‡•á‡§ú‡•Ä,‡§∞‡•Ç ‡•´‡•®.‡•¶‡•¶,‡§∞‡•Ç ‡•¨‡•®.‡•¶‡•¶,‡§∞‡•Ç ‡•´‡•≠.‡•®‡•´
137179,2025-10-20,‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø),‡§ï‡•á‡§ú‡•Ä,‡§∞‡•Ç ‡•´‡•®.‡•¶‡•¶,‡§∞‡•Ç ‡•¨‡•®.‡•¶‡•¶,‡§∞‡•Ç ‡•´‡•≠.‡•®‡•´

In [45]:
# üß© 1Ô∏è‚É£ Extract numeric parts from Nepali prices (removing ‡§∞‡•Ç and spaces)
Indian_Tomato['minimum'] = Indian_Tomato['minimum'].str.extract(r'(\d+\.?\d*)')
Indian_Tomato['maximum'] = Indian_Tomato['maximum'].str.extract(r'(\d+\.?\d*)')
Indian_Tomato['average_price'] = Indian_Tomato['average_price'].str.extract(r'(\d+\.?\d*)')

# üß© 2Ô∏è‚É£ Convert Nepali digits ‚Üí English digits
nepali_to_english = str.maketrans('‡•ß‡•®‡•©‡•™‡•´‡•¨‡•≠‡•Æ‡•Ø‡•¶', '1234567890')

Indian_Tomato[['minimum', 'maximum', 'average_price']] = (
    Indian_Tomato[['minimum', 'maximum', 'average_price']]
    .apply(lambda col: col.astype(str).map(lambda x: x.translate(nepali_to_english)))
)

# üß© 3Ô∏è‚É£ Convert to numeric type (floats)
Indian_Tomato[['minimum', 'maximum', 'average_price']] = Indian_Tomato[['minimum', 'maximum', 'average_price']].apply(pd.to_numeric, errors='coerce')

# üß© 4Ô∏è‚É£ (Optional) Verify result
print(Indian_Tomato.head())
print(Indian_Tomato.dtypes)

          Date             commodity  unit  minimum  maximum  average_price
1   2022-01-01  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)  ‡§ï‡•á‡§ú‡•Ä    101.0    101.0         101.00
110 2022-01-02  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)  ‡§ï‡•á‡§ú‡•Ä    110.0    120.0         115.00
217 2022-01-03  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)  ‡§ï‡•á‡§ú‡•Ä     90.0    100.0          95.00
324 2022-01-04  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)  ‡§ï‡•á‡§ú‡•Ä     90.0    100.0          96.67
431 2022-01-05  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)  ‡§ï‡•á‡§ú‡•Ä     80.0     90.0          86.67
Date             datetime64[ns]
commodity                object
unit                     object
minimum                 float64
maximum                 float64
average_price           float64
dtype: object

C:\Users\User\AppData\Local\Temp\ipykernel_9460\1753089475.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Indian_Tomato['minimum'] = Indian_Tomato['minimum'].str.extract(r'(\d+\.?\d*)')
C:\Users\User\AppData\Local\Temp\ipykernel_9460\1753089475.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Indian_Tomato['maximum'] = Indian_Tomato['maximum'].str.extract(r'(\d+\.?\d*)')
C:\Users\User\AppData\Local\Temp\ipykernel_9460\1753089475.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Indian_Tomato['average_price'] = Indian_Tomato['average_price'].str.extract(r'(\d+\.?\d*)')
C:\Users\User\AppData\Local\Temp\ipykernel_9460\1753089475.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Indian_Tomato[['minimum', 'maximum', 'average_price']] = (
C:\Users\User\AppData\Local\Temp\ipykernel_9460\1753089475.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Indian_Tomato[['minimum', 'maximum', 'average_price']] = Indian_Tomato[['minimum', 'maximum', 'average_price']].apply(pd.to_numeric, errors='coerce')

In [46]:
Indian_Tomato.head()

          Date             commodity  unit  minimum  maximum  average_price
1   2022-01-01  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)  ‡§ï‡•á‡§ú‡•Ä    101.0    101.0         101.00
110 2022-01-02  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)  ‡§ï‡•á‡§ú‡•Ä    110.0    120.0         115.00
217 2022-01-03  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)  ‡§ï‡•á‡§ú‡•Ä     90.0    100.0          95.00
324 2022-01-04  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)  ‡§ï‡•á‡§ú‡•Ä     90.0    100.0          96.67
431 2022-01-05  ‡§ó‡•ã‡§≤‡§≠‡•á‡§°‡§æ ‡§†‡•Ç‡§≤‡•ã(‡§≠‡§æ‡§∞‡§§‡•Ä‡§Ø)  ‡§ï‡•á‡§ú‡•Ä     80.0     90.0          86.67

In [48]:
Indian_Tomato['commodity']='Tomato_Indian'

C:\Users\User\AppData\Local\Temp\ipykernel_9460\579119172.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Indian_Tomato['commodity']='Tomato_Indian'

In [49]:
Indian_Tomato.head()

          Date      commodity  unit  minimum  maximum  average_price
1   2022-01-01  Tomato_Indian  ‡§ï‡•á‡§ú‡•Ä    101.0    101.0         101.00
110 2022-01-02  Tomato_Indian  ‡§ï‡•á‡§ú‡•Ä    110.0    120.0         115.00
217 2022-01-03  Tomato_Indian  ‡§ï‡•á‡§ú‡•Ä     90.0    100.0          95.00
324 2022-01-04  Tomato_Indian  ‡§ï‡•á‡§ú‡•Ä     90.0    100.0          96.67
431 2022-01-05  Tomato_Indian  ‡§ï‡•á‡§ú‡•Ä     80.0     90.0          86.67

In [50]:
Indian_Tomato.to_csv('Tomato_Indian.csv', index = False)